In [4]:
import math

In [6]:
math.cos(3.14)

-0.9999987317275395

In [8]:
math.factorial(10)

3628800

In [10]:
math.pi

3.141592653589793

In [12]:
math.degrees(2 * math.pi)

360.0

In [14]:
help(math.degrees)

Help on built-in function degrees in module math:

degrees(x, /)
    Convert angle x from radians to degrees.

In [15]:
help( math.sin)

Help on built-in function sin in module math:

sin(x, /)
    Return the sine of x (measured in radians).

In [16]:
import numpy as np

In [17]:
mat = [[0, 1, 2, 3, 4], [5, 6, 7, 8, 9], [10, 11, 12, 13, 14]]

In [18]:
mat

[[0, 1, 2, 3, 4], [5, 6, 7, 8, 9], [10, 11, 12, 13, 14]]

In [19]:
maty = np.array(mat) #casting

In [20]:
type(maty)

numpy.ndarray

In [21]:
maty

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14]])

In [22]:
int( maty[1, 3] )

8

In [23]:
"""Esercizio 3
L'azienda Object SpA ha creato una lista di quanti oggetti ha venduto ogni mese nell'ultimo anno: 

lst = [2000, 5500, 7200, 4320, 1280, 1900, 2500, 3900, 6410, 8150, 7100, 5350] 

trasformiamola in un array NumPy (casting): 

lst = np.array(lst) 

e rispondiamo alle domande del CEO della Object SpA: 
• qual è stata la vendita massima mensile? E quella minima? 
• quali sono le vendite mensili maggiori di 4999 oggetti? E quante ne sono? 
• quali sono le vendite minori di 3000 oggetti?
• in media quanti oggetti sono stati venduti al mese?
"""

"Esercizio 3\nL'azienda Object SpA ha creato una lista di quanti oggetti ha venduto ogni mese nell'ultimo anno: \n\nlst = [2000, 5500, 7200, 4320, 1280, 1900, 2500, 3900, 6410, 8150, 7100, 5350] \n\ntrasformiamola in un array NumPy (casting): \n\nlst = np.array(lst) \n\ne rispondiamo alle domande del CEO della Object SpA: \n• qual è stata la vendita massima mensile? E quella minima? \n• quali sono le vendite mensili maggiori di 4999 oggetti? E quante ne sono? \n• quali sono le vendite minori di 3000 oggetti?\n• in media quanti oggetti sono stati venduti al mese?\n"

In [24]:
lst = [2000, 5500, 7200, 4320, 1280, 1900, 2500, 3900, 6410, 8150, 7100, 5350] 
lst = np.array(lst)

In [25]:
type(lst)

numpy.ndarray

In [26]:
lst.max() #vendita massima mensile

8150

In [35]:
lst.min() #vendita minima

1280

In [36]:
filtro = lst > 4999
lst[filtro]

array([5500, 7200, 6410, 8150, 7100, 5350])

In [37]:
numeri = [1, 2, 5, 10, 20]

In [43]:
numeri * 2

[1, 2, 5, 10, 20, 1, 2, 5, 10, 20]

In [44]:
"abc" *3

'abcabcabc'

In [48]:
numeri / 2

TypeError: unsupported operand type(s) for /: 'list' and 'int'

In [66]:
numery = np.array(numeri)

In [68]:
numery / 2

array([ 0.5,  1. ,  2.5,  5. , 10. ])

In [70]:
numery * 2

array([ 2,  4, 10, 20, 40])

In [72]:
numery

array([ 1,  2,  5, 10, 20])

In [74]:
numery ** 10

array([         1,       1024,    9765625, 1410065408,  797966336],
      dtype=int32)

numery + 1000

In [77]:
numery > 5

array([False, False, False,  True,  True])

In [58]:
filtro

array([False,  True,  True, False, False, False, False, False,  True,
        True,  True,  True])

In [60]:
lst

array([2000, 5500, 7200, 4320, 1280, 1900, 2500, 3900, 6410, 8150, 7100,
       5350])

In [62]:
lst[2]

7200

In [64]:
lst[filtro]

array([5500, 7200, 6410, 8150, 7100, 5350])

In [80]:
filtro = lst > 3000
lst[filtro]

array([5500, 7200, 4320, 3900, 6410, 8150, 7100, 5350])

filtro = lst > 4999
lst_over_4999 = lst[filtro]
len(lst_over_4999)

np.sum(filtro)

In [86]:
lst.mean()

4634.166666666667

In [88]:
lst

array([2000, 5500, 7200, 4320, 1280, 1900, 2500, 3900, 6410, 8150, 7100,
       5350])

In [92]:
import pandas as pd

In [94]:
fatturati_dict = {1997: 12_000, 1998: 15_000, 1999: 20_000, 2000: 23_000, 2001: 25_000, 2002: 17_000, 2003: 14_000, 2004: 21_000} 
fatturati_series = pd.Series([12_000, 15_000, 20_000, 23_000, 25_000, 17_000, 14_000, 21_000], index=range(1997, 2005))

In [98]:
fatturati_dict

{1997: 12000,
 1998: 15000,
 1999: 20000,
 2000: 23000,
 2001: 25000,
 2002: 17000,
 2003: 14000,
 2004: 21000}

fatturati_series

In [100]:
fatturati_series[1:4]

1998    15000
1999    20000
2000    23000
dtype: int64

In [102]:
fatturati_series.mean()

18375.0

In [105]:
import numpy as np 
stipendi = np.array( [100, 200, 300, 400, 500,  600, 700, 800, 900, 1000] )

In [108]:
nuovi_stipendi = []
for stipendio in stipendi:
    print(stipendio)

100
200
300
400
500
600
700
800
900
1000

In [112]:
nuovi_stipendi = []
for stipendio in stipendi:
    nuovo_stipendio = stipendio * 2
    nuovo_stipendio = int(nuovo_stipendio)
    nuovi_stipendi.append(nuovo_stipendio)
print(nuovi_stipendi)

[200, 400, 600, 800, 1000, 1200, 1400, 1600, 1800, 2000]

In [114]:
nuovi_stipendi = stipendi * 2
print(nuovi_stipendi)

[ 200  400  600  800 1000 1200 1400 1600 1800 2000]